* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  background: repeating-radial-gradient(rgb(11, 189, 243), rgb(154, 16, 223));
  opacity: 0.8;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 40px;
  margin:20px;
}

#navbar ul {
  display: flex;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#navbar ul li {
  list-style: none;
  padding: 40px;
}

#navbar ul li a {
  color: red;
  display: block;
  padding: 3px 22px;
  text-decoration: none;
}

#navbar ul li a:focus {
  color: rgb(217, 231, 14);
}

hr{
    background:linear-gradient(rgb(11, 189, 243), rgb(154, 16, 223));
    height: 3px;
    border:none;
    max-width: 150px;
}
#mission-content{
  margin-top: 40px;
  position: absolute;
  left:23%;
  margin-left: -50px;
}
p#mission1 {
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Times New Roman', Times, serif;  
  font-size: 28px;
  color: rgba(0,0,0);
  animation: animated-text 4s steps(29,end) 1s 1 normal both, 600ms steps(29,end) infinite;
}

p#mission2 {
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Times New Roman', Times, serif;  
  font-size: 28px;
  color: rgba(0,0,0);
  animation: animated-text 4s steps(29,end) 5s 1 normal both, 600ms steps(29,end) infinite;
}
p#mission3 {
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Times New Roman', Times, serif;  
  font-size: 28px;
  color: rgba(0,0,0);
  animation: animated-text 4s steps(29,end) 9s 1 normal both, 600ms steps(29,end) infinite;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 980px;}
}



