* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  background: repeating-radial-gradient(rgb(11, 189, 243), rgb(154, 16, 223));
  opacity: 0.8;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 40px;
  margin: 20px;
}

#navbar ul {
  display: flex;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#navbar ul li {
  list-style: none;
  padding: 40px;
}

#navbar ul li a {
  color: red;
  display: block;
  padding: 3px 22px;
  text-decoration: none;
}

#navbar ul li a:focus {
  color: rgb(217, 231, 14);
}

hr {
  background: linear-gradient(rgb(11, 189, 243), rgb(154, 16, 223));
  height: 3px;
  border: none;
  max-width: 150px;
}
#mission_content {
  margin-top: 40px;
  position: absolute;
  left: 23%;
  margin-left: -50px;
}
p#line1 {
  white-space: nowrap;
  overflow: hidden;
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  color: rgba(0, 0, 0);
  animation: typing 4s steps(29, end) 1s 1 normal both,
    600ms steps(29, end) infinite;
}

p#line2 {
  white-space: nowrap;
  overflow: hidden;
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  color: rgba(0, 0, 0);
  animation: typing 4s steps(29, end) 5s 1 normal both,
    600ms steps(29, end) infinite;
}
p#line3 {
  white-space: nowrap;
  overflow: hidden;
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  color: rgba(0, 0, 0);
  animation: typing 4s steps(29, end) 9s 1 normal both,
    600ms steps(29, end) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 980px;
  }
}

#vision_content {
  margin-top: 40px;
  position: absolute;
  right: 20%;
  margin-left: -50px;
}

#vision_image {
  position: absolute;
  right: 10%;
  margin-right: -50px;
}
#facts {
  margin-top: 300px;
  position: absolute;
  background: repeating-radial-gradient(rgb(98, 235, 160), rgb(37, 126, 44));
  opacity: 0.8;
  right: 30%;
  margin-left: -50px;
  width: 100vh;
  left: 25%;
  border-radius: 8px;
  margin-bottom: 5px;
}
#facts ul {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}
#label1,
#label2,
#label3 {
  position: relative;
  left: 50px;
  font-size: 1.4rem;
  font-weight: bold;
}
#value1,
#value2,
#value3 {
  list-style: none;
  padding-top: 50px;
  padding-bottom: 30px;
  margin-right: 0px;
  position: relative;
  right: 10%;
  margin-top: 30px;
  font-size: 3rem;
}
